@use '../mixins' as *;

.header_content {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg);
  border-bottom: 2px solid var(--on-primary);

  .header_inner_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-4);
    padding: var(--size-2);

    @include tablet {
      padding: var(--size-2) var(--size-5);
    }

    @include desktop {
      padding: 26px var(--size-10);
    }
  }

  .logo_content {
    display: flex;
    align-items: center;
    gap: var(--size-1);
  }

  .logo_link {
    display: block;
    line-height: 0;

    img {
      display: block;
      width: 140px;
      height: auto;

      @include tablet {
        width: 172px;
      }
    }
  }

  .header_burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: var(--size-5);
    height: var(--size-5);
    padding: var(--btn-icon-padding);
    background-color: var(--surface-low);
    border: 2px solid var(--on-primary);
    border-radius: var(--corner-small);
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--on-primary);
      border-radius: var(--corner-full);
      transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    }

    &[aria-expanded='true'] {
      span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }

    @include desktop {
      display: none;
    }
  }

  .tablet_nav {
    display: flex;
    gap: var(--size-3);

    @include desktop {
      display: none;
    }
    .btn {
      display: none;
      @include mobile {
        display: block;
        padding: var(--size-1) var(--size-2);
        font-size: var(--font-size-body-small);
      }
    }
  }

  .header_nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: var(--size-3);
    padding: var(--size-3) var(--size-2);
    background-color: var(--bg);
    border-bottom: 2px solid var(--on-primary);

    &.is_open {
      display: flex;
    }

    @include desktop {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-4);
      padding: 0;
      background-color: transparent;
      border-bottom: none;
    }
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    list-style: none;

    @include desktop {
      flex-direction: row;
      gap: var(--size-5);
    }
  }

  .nav_item {
    a {
      display: inline-block;
      color: var(--on-bg);
      font-size: var(--font-size-body-medium);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
      text-decoration: none;
      transition: transform 0.2s ease;

      &:hover:not(.is_active) {
        transform: scale(1.1);
      }
      &.is_active {
        @include active_link;
      }
    }
  }

  .header_actions {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);

    @include tablet {
      flex-direction: row;
      align-items: center;
      gap: var(--size-2);
    }
  }
}

.btn {
  padding: var(--size-1) var(--size-3);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-label-extra-large);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  color: var(--on-primary);
  border: 2px solid var(--on-primary);
  border-radius: var(--corner-medium);
  cursor: pointer;
}

.btn_ghost {
  background-color: var(--surface-low);

  &:hover {
    background-color: var(--surface);
  }
}

.btn_primary {
  background-color: var(--primary-low);

  &:hover {
    background-color: var(--primary);
  }
}
