@use './tokens' as *;

@mixin mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}
@mixin active_link {
  &.is_active {
    color: var(--primary);
    font-weight: var(--font-weight-bold);
    @include desktop() {
      color: var(--on-primary);
    }
  }
}
