@use './styles/tokens' as *;
@use './styles/functions' as *;
@use './styles/mixins' as *;
@use 'styles/components/header.scss' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-inter);
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
